@font-face {
  font-family: Lato; font-style: italic; font-weight: 900; font-display: swap; src: url("/assets/Lato-Italic_JOJm9pJj4kjju_vp7Yfn-.ttf") format("truetype"), url("/assets/Lato-BlackItalic_50nnHrFS16RvjvqlHDDVP.ttf") format("truetype");
}
@font-face {
  font-family: Lato; font-style: italic; font-weight: 300; font-display: swap; src: url("/assets/Lato-LightItalic_QcdFAQ0jaedLNjKHwkCdv.ttf") format("truetype");
}
@font-face {
  font-family: Lato; font-style: italic; font-weight: 100; font-display: swap; src: url("/assets/Lato-ThinItalic_rmtgv6JRQ9RPeb__7bqEf.ttf") format("truetype");
}
@font-face {
  font-family: Lato; font-style: normal; font-weight: 900; font-display: swap; src: url("/assets/Lato-Black_xhhMPRPmy205lrqo3Bn_1.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans"; font-style: normal; font-weight: 100 1000; font-display: swap; src: url("/assets/DMSans-Italic-VariableFont_opsz_wght_BGIhD0HLLy2axR97Zl4m9.ttf") format("truetype"), url("/assets/DMSans-VariableFont_opsz_wght_OEVjbFZNCsBcnjDHxiCS5.ttf") format("truetype");
}
@font-face {
  font-family: Lato; font-style: normal; font-weight: 700; font-display: swap; src: url("/assets/Lato-Bold_3lSA-DdNo1Ze7crv1BhBm.ttf") format("truetype");
}
@font-face {
  font-family: Lato; font-style: italic; font-weight: 700; font-display: swap; src: url("/assets/Lato-BoldItalic_kw8Fo9E8TTpBip2vo_79w.ttf") format("truetype");
}
@font-face {
  font-family: Lato; font-style: normal; font-weight: 400; font-display: swap; src: url("/assets/Lato-Regular_SNUXzXRZs0P3nHXZm6xPh.ttf") format("truetype");
}
@font-face {
  font-family: Lato; font-style: normal; font-weight: 300; font-display: swap; src: url("/assets/Lato-Light_98ZXR2HIfnWk1iAs0hGxa.ttf") format("truetype");
}
@font-face {
  font-family: Lato; font-style: normal; font-weight: 100; font-display: swap; src: url("/assets/Lato-Thin_BPiltVs98iypXV3s7CgNu.ttf") format("truetype");
}
html {margin: 0; display: grid; min-height: 100%}
@media all {
  body:where([data-ws-component="Body"]) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
  div:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  address:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  article:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  aside:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  figure:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  footer:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  header:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  main:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  nav:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  section:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  img:where([data-ws-component="Image"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto
  }
  h1:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h2:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h3:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h4:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h5:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h6:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  p:where([data-ws-component="Paragraph"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div:where([data-ws-component="Vimeo"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div:where([data-ws-component="VimeoSpinner"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  button:where([data-ws-component="VimeoPlayButton"]) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none
  }
  i:where([data-ws-component="Italic"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    font-style: italic
  }
  a:where([data-ws-component="Link"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em;
    display: inline-block
  }
  div:where([data-ws-component="@webstudio-is/sdk-components-react-radix:Accordion"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div:where([data-ws-component="@webstudio-is/sdk-components-react-radix:AccordionItem"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h3:where([data-ws-component="@webstudio-is/sdk-components-react-radix:AccordionHeader"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px
  }
  button:where([data-ws-component="@webstudio-is/sdk-components-react-radix:AccordionTrigger"]) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    background-color: transparent;
    background-image: none;
    border-top-color: rgba(226, 232, 240, 1);
    border-right-color: rgba(226, 232, 240, 1);
    border-bottom-color: rgba(226, 232, 240, 1);
    border-left-color: rgba(226, 232, 240, 1);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px
  }
  div:where([data-ws-component="Text"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em
  }
  div:where([data-ws-component="@webstudio-is/sdk-components-react-radix:AccordionContent"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
}
@media all {
  .c10tb7jb {
    background-color: rgba(0, 0, 0, 1)
  }
  .c1qjnwd {
    overflow-x: visible
  }
  .c1qgrvx {
    overflow-y: visible
  }
  .c1twnoba {
    display: flex
  }
  .c1vy6a0n {
    align-items: center
  }
  .c14qbmc6 {
    justify-content: space-between
  }
  .c7zvlsj {
    position: static
  }
  .c1m1w67o {
    margin-top: 10px
  }
  .c61ovkt {
    margin-left: 40px
  }
  .c13tpewa {
    margin-top: 9px
  }
  .c1jv6fwq {
    flex-direction: row
  }
  .c1j59bld {
    justify-content: center
  }
  .cz0kds6 {
    background-attachment: scroll
  }
  .cb5ijcy {
    -webkit-background-clip: border-box
  }
  .cee2zhg {
    background-blend-mode: normal
  }
  .c1coyq83 {
    background-image: url("/assets/Group_1321314605_19kBxuyzgSCx08n5b5Bxi.png")
  }
  .ceiuk84 {
    background-origin: padding-box
  }
  .cmyvz9y {
    background-position-x: 0%
  }
  .cwrmgdo {
    background-position-y: 0%
  }
  .c1cjt24l {
    background-repeat: repeat
  }
  .c1pow8ya {
    background-size: cover
  }
  .c1iuog3m {
    margin-bottom: 30px
  }
  .c1nlyjgt {
    flex-direction: column
  }
  .c1ltlv9x {
    margin-top: 200px
  }
  .c1jnytir {
    width: 70%
  }
  .c1tbqsf8 {
    color: rgba(255, 255, 255, 1)
  }
  .crh4xym {
    width: 80%
  }
  .c14kkg6c {
    margin-left: 0px
  }
  .c1dip7do {
    text-align: center
  }
  .c7jjez7 {
    font-family: "DM Sans", sans-serif
  }
  .cd6vijc {
    font-size: 6lvh
  }
  .c1l3fu6x {
    font-weight: 700
  }
  .c1iy0pkd {
    margin-bottom: 0.3em
  }
  .coo8ii0 {
    width: 50%
  }
  .cin2jg1 {
    margin-top: 0em
  }
  .c1x3u2y {
    font-family: Lato, sans-serif
  }
  .cb38pdg {
    font-weight: 400
  }
  .crkea01 {
    font-size: 3lvh
  }
  .czl9ntb {
    width: 100%
  }
  .c1wo8qos {
    margin-top: 400px
  }
  .c1cp5uwz {
    width: 60%
  }
  .c1p8y3bj {
    padding-bottom: 10px
  }
  .c1h9da1m {
    position: relative
  }
  .c1gfoolc {
    aspect-ratio: 640/360
  }
  .c1mlz7eb {
    padding-left: 20px
  }
  .cihupgk {
    padding-right: 20px
  }
  .c1afl6mn {
    border-top-color: rgba(83, 83, 83, 1)
  }
  .cg1rbpn {
    border-right-color: rgba(83, 83, 83, 1)
  }
  .c140a3bg {
    border-bottom-color: rgba(83, 83, 83, 1)
  }
  .cqd5oqr {
    border-left-color: rgba(83, 83, 83, 1)
  }
  .c13gm9tm {
    border-top-style: none
  }
  .ccbhru4 {
    border-right-style: none
  }
  .cy09awe {
    border-left-style: none
  }
  .c1k8j4z {
    border-bottom-style: none
  }
  .c1o89gsj {
    position: absolute
  }
  .c1htljek {
    top: 50%
  }
  .c1sesslo {
    left: 50%
  }
  .cbiv32m {
    width: 70px
  }
  .chnodzp {
    height: 70px
  }
  .cbmxx16 {
    margin-top: -35px
  }
  .cdq19ot {
    margin-left: -35px
  }
  .cfl8i57 {
    width: 140px
  }
  .c1b17xox {
    height: 80px
  }
  .cfjoe9t {
    margin-top: -40px
  }
  .cke1vd0 {
    margin-left: -70px
  }
  .cp2qp5y {
    border-top-left-radius: 5px
  }
  .cgwubrl {
    border-top-right-radius: 5px
  }
  .c1x0vcxw {
    border-bottom-left-radius: 5px
  }
  .c1ftzs5g {
    border-bottom-right-radius: 5px
  }
  .czbk6r8 {
    cursor: pointer
  }
  .c1kab7xs {
    background-color: rgba(18, 18, 18, 1)
  }
  .c4uv3km:hover {
    background-color: rgba(0, 173, 239, 1)
  }
  .cdbulug {
    width: 60px
  }
  .c8dwfvz {
    height: 60px
  }
  .coa8t4d {
    font-size: 2.5em
  }
  .cqu608j {
    font-weight: 600
  }
  .c65rmgt {
    margin-top: 60px
  }
  .cl9ro3z {
    margin-bottom: 190px
  }
  .ci7i0uv {
    justify-content: space-around
  }
  .c13yft5o {
    width: 90%
  }
  .c1q4pe54 {
    margin-top: 30px
  }
  .crlh4q9 {
    column-gap: 0px
  }
  .c1bwl1d1 {
    row-gap: 0px
  }
  .c151rvho {
    align-items: stretch
  }
  .c125txkx {
    background-color: rgba(22, 22, 22, 1)
  }
  .cou797o {
    margin-bottom: 20px
  }
  .ch3e1s9 {
    border-top-style: solid
  }
  .c15eo6hu {
    border-right-style: solid
  }
  .ctq4o5e {
    border-left-style: solid
  }
  .c1274y9c {
    border-bottom-style: solid
  }
  .c1pydy8f {
    max-width: none
  }
  .c1iocr3e {
    width: 46lvh
  }
  .c7udofx {
    height: 29lvh
  }
  .c1gf2543:hover {
    box-shadow: rgba(26, 58, 38, 1) inset 5px 5px 25px 5px
  }
  .ct2snzp {
    transition-property: box-shadow
  }
  .c1c1zivi {
    transition-timing-function: ease
  }
  .cs73unb {
    transition-delay: 0ms
  }
  .c12ged47 {
    transition-duration: 300ms
  }
  .cy87jdr {
    transition-behavior: normal
  }
  .c19c7pm3 {
    color: rgba(20, 162, 71, 1)
  }
  .cqfbd4z {
    font-weight: 900
  }
  .c1jznqq4 {
    padding-top: 10px
  }
  .c1mwfccn {
    font-size: 4em
  }
  .cdymj7r {
    padding-left: 0px
  }
  .c1intses {
    padding-right: 0px
  }
  .c123bkg1 {
    font-size: 20px
  }
  .c7p21o8 {
    padding-top: 0
  }
  .cuoraao {
    margin-top: -1em
  }
  .c1dq9qn {
    padding-left: 15px
  }
  .c1gl4ce2 {
    padding-right: 15px
  }
  .c1spkgfs {
    margin-bottom: 0.67em
  }
  .cv3fwy2 {
    margin-top: 0.67em
  }
  .c295bde {
    padding-left: 8px
  }
  .ct02zqd {
    padding-right: 8px
  }
  .chmoynh {
    padding-top: 29px
  }
  .c1tkghtv {
    width: 100px
  }
  .cwdy2z5 {
    height: 100px
  }
  .c1gg2d4d {
    padding-top: 25px
  }
  .cov2qju {
    font-size: 3.5em
  }
  .c1046ruz {
    padding-right: 10px
  }
  .cij030q {
    padding-top: 12px
  }
  .c1fb749m {
    padding-top: 30px
  }
  .cgyzrxo {
    text-wrap-mode: nowrap
  }
  .chs43hq {
    width: auto
  }
  .cmi5gnt {
    border-top-left-radius: 2px
  }
  .cvfg8e {
    border-top-right-radius: 2px
  }
  .c1uqhfdn {
    border-bottom-left-radius: 2px
  }
  .c1ksxoi4 {
    border-bottom-right-radius: 2px
  }
  .cv5orsw {
    padding-bottom: 15px
  }
  .cqciqil {
    padding-top: 15px
  }
  .c1r16s9c {
    color: rgba(0, 0, 0, 1)
  }
  .c1h43rey {
    background-color: rgba(255, 255, 255, 1)
  }
  .czx4ung {
    height: auto
  }
  .c1b1ht1h {
    font-size: 120%
  }
  .cja4d00 {
    margin-right: 20px
  }
  .cviaych:hover {
    color: rgba(255, 255, 255, 1)
  }
  .c1l3faaj:hover {
    background-color: rgba(0, 0, 0, 1)
  }
  .c1qdz93x {
    transition-property: background-color, color
  }
  .c1yknwe {
    transition-timing-function: ease, ease
  }
  .c16brilo {
    transition-delay: 0ms, 0ms
  }
  .c8blu03 {
    transition-duration: 300ms, 300ms
  }
  .c1c30yjp {
    transition-behavior: normal, normal
  }
  .ciotgsx {
    text-decoration-line: none
  }
  .c16obloc:active {
    border-top-style: solid
  }
  .c1fzn2gy:active {
    border-right-style: solid
  }
  .c1417cfe:active {
    border-left-style: solid
  }
  .c1r3o45q:active {
    border-bottom-style: solid
  }
  .c1jqq980:active {
    border-top-color: rgba(83, 83, 83, 1)
  }
  .c1nsjwms:active {
    border-right-color: rgba(83, 83, 83, 1)
  }
  .c1ravk58:active {
    border-bottom-color: rgba(83, 83, 83, 1)
  }
  .chlw4iq:active {
    border-left-color: rgba(83, 83, 83, 1)
  }
  .c3we96t:hover {
    border-top-style: solid
  }
  .c1ao5iu5:hover {
    border-right-style: solid
  }
  .cfho87c:hover {
    border-left-style: solid
  }
  .ctipp42:hover {
    border-bottom-style: solid
  }
  .c17s0v09:hover {
    border-top-color: rgba(83, 83, 83, 1)
  }
  .cy1wof3:hover {
    border-right-color: rgba(83, 83, 83, 1)
  }
  .c1wjjhri:hover {
    border-bottom-color: rgba(83, 83, 83, 1)
  }
  .c1qhiez9:hover {
    border-left-color: rgba(83, 83, 83, 1)
  }
  .c1wl46pt {
    background-color: rgba(20, 162, 71, 1)
  }
  .crvj8y9:hover {
    background-color: rgba(10, 98, 42, 1)
  }
  .c1ss3ro8 {
    padding-left: 30px
  }
  .c1u0oktp {
    padding-right: 30px
  }
  .c1mang48 {
    padding-top: 17px
  }
  .c1tubq6u {
    border-top-color: rgba(184, 184, 184, 1)
  }
  .c1lveiqp {
    border-right-color: rgba(184, 184, 184, 1)
  }
  .cwjywhw {
    border-bottom-color: rgba(184, 184, 184, 1)
  }
  .c1a3emqs {
    border-left-color: rgba(184, 184, 184, 1)
  }
  .c18ojo3a {
    width: 18lvh
  }
  .c971v69 {
    height: 6lvh
  }
  .c1q3o1u3:hover {
    background-color: rgba(20, 162, 71, 1)
  }
  .c1p60roq {
    -webkit-background-clip: padding-box
  }
  .cknz58g {
    margin-top: 1px
  }
  .cbv1kf {
    padding-bottom: 140px
  }
  .cx40k43 {
    padding-top: 21px
  }
  .c1wnp7jt {
    padding-bottom: 37px
  }
  .c1h1znlu {
    background-color: rgba(23, 23, 23, 0.43)
  }
  .c14hyq9r {
    border-top-color: rgba(128, 128, 128, 1)
  }
  .c1n553oo {
    border-right-color: rgba(128, 128, 128, 1)
  }
  .c153r9r1 {
    border-bottom-color: rgba(128, 128, 128, 1)
  }
  .clh82p0 {
    border-left-color: rgba(128, 128, 128, 1)
  }
  .czx58rh {
    border-top-left-radius: 10px
  }
  .c1uwi132 {
    border-top-right-radius: 10px
  }
  .c1cpho3m {
    border-bottom-left-radius: 10px
  }
  .cn1gsam {
    border-bottom-right-radius: 10px
  }
  .cvbo4h6 {
    font-size: 1em
  }
  .c1lrmhsw {
    border-bottom-width: 1px
  }
  .c1vlhhuo {
    border-bottom-color: rgba(226, 232, 240, 1)
  }
  .cqbyyv8 {
    transition-property: all
  }
  .c1p3bon9 {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  .c1qq9qf0 {
    transition-duration: 200ms
  }
  .c1tqwum3 {
    flex-grow: 1
  }
  .ckj3vic {
    flex-shrink: 1
  }
  .cwr5w85 {
    flex-basis: 0%
  }
  .c1v098ve {
    padding-top: 1rem
  }
  .c6yvut1 {
    padding-bottom: 1rem
  }
  .c9vhakk {
    font-weight: 500
  }
  .c8jxrvj:hover {
    text-decoration-line: underline
  }
  .c12fje91 {
    --accordion-trigger-icon-transform: 0deg
  }
  .c1gry2e3[data-state=open] {
    --accordion-trigger-icon-transform: 180deg
  }
  .cxepy9k {
    rotate: var(--accordion-trigger-icon-transform)
  }
  .c1anph0v {
    height: 1rem
  }
  .cg3kjyq {
    width: 1rem
  }
  .ct2pmim {
    flex-grow: 0
  }
  .cbdd4es {
    overflow-x: hidden
  }
  .cc8vwx2 {
    overflow-y: hidden
  }
  .clchyxc {
    font-size: 0.875rem
  }
  .c4wrwq2 {
    line-height: 1.25rem
  }
  .c1ra5clk {
    padding-left: 25px
  }
  .c1uxtuuf {
    border-bottom-width: 0px
  }
  .c1x7guje {
    border-top-width: 0px
  }
  .c1y5pdf9 {
    border-right-width: 0px
  }
  .c1v8kha8 {
    border-left-width: 0px
  }
  .c3bda5v {
    padding-left: 0
  }
  .c1cvpbl0 {
    margin-top: 0px
  }
  .cqr1i4x {
    padding-top: 0px
  }
  .c2ieta {
    padding-top: 7px
  }
}
@media all and (max-width: 991px) {
  .ciodhc6 {
    width: 60%
  }
  .c1a4l24q {
    height: 80%
  }
  .c1i5c3am {
    font-size: 2em
  }
  .c1vpll4j {
    column-gap: 10px
  }
  .c1a4uqbb {
    font-size: 1rem
  }
  .cn8d5n4 {
    width: 100%
  }
  .c1m2izj5 {
    justify-content: space-between
  }
  .c1ndc58l {
    row-gap: 10px
  }
  .cf5opyu {
    margin-left: 0px
  }
  .c1wistfq {
    flex-direction: column
  }
  .c1gauiy5 {
    flex-direction: row
  }
  .c1iwhlrr {
    justify-content: space-around
  }
  .c591mum {
    width: 300px
  }
  .c6es43g {
    height: 187px
  }
  .c1kb4mx7 {
    font-size: 2.5em
  }
  .c9pmauc {
    font-size: 15px
  }
  .cj4124w {
    padding-top: 14px
  }
  .cf73zey {
    padding-top: 0
  }
  .cziuacq {
    padding-top: 16px
  }
  .c1b6nm3m {
    padding-top: 8px
  }
  .c1lvg9rg {
    width: 75px
  }
  .c1eewfy {
    height: 75px
  }
  .cegtynl {
    padding-top: 30px
  }
  .ca8r7et {
    padding-top: 35px
  }
  .cdqm74o {
    padding-top: 0px
  }
  .c45bw9a {
    display: flex
  }
  .cs1ykzv {
    align-items: center
  }
  .c1qcvcv0:hover {
    color: rgba(255, 255, 255, 1)
  }
  .cyy6gjx:hover {
    background-color: rgba(0, 0, 0, 1)
  }
  .cc0xovh:hover {
    background-color: rgba(10, 98, 42, 1)
  }
  .c63p2ou:hover {
    background-color: rgba(20, 162, 71, 1)
  }
  .c1a7njse {
    padding-top: 15px
  }
}
@media all and (max-width: 767px) {
  .c15mje2o {
    column-gap: 15px
  }
  .cyqya42 {
    width: 25em
  }
  .cacagee {
    height: 3em
  }
  .c1if0l5b {
    font-size: 1em
  }
  .c1uxmloe {
    margin-right: 0px
  }
  .cfwkzco {
    width: 8em
  }
  .c1u9ong8 {
    padding-top: 15px
  }
}
@media all and (max-width: 479px) {
  .c4nynq7 {
    position: static
  }
  .cwpdw4d {
    width: auto
  }
  .c1m7yiqq {
    width: 50lvh
  }
  .clufe4j {
    margin-top: 90px
  }
  .c1ks9sys {
    font-size: 2.3em
  }
  .cq0q2o2 {
    width: 100%
  }
  .coc9b6b {
    width: 70%
  }
  .c16arnsj {
    font-size: 15px
  }
  .c1881jp0 {
    transition-property: background-color, color
  }
  .c16lb3dy {
    transition-timing-function: ease, ease
  }
  .c13e6u49 {
    transition-delay: 0ms, 0ms
  }
  .chkh63y {
    transition-duration: 500ms, 500ms
  }
  .cmqv1hl {
    transition-behavior: normal, normal
  }
  .c1irdt8j {
    margin-top: 150px
  }
  .c1y76a64 {
    flex-direction: row
  }
  .ca0gl3f {
    column-gap: 20px
  }
  .cdk9pl3 {
    height: 100%
  }
  .cng73mk {
    padding-right: 0px
  }
  .cy0usq9 {
    padding-left: 0px
  }
  .c1es9bwp {
    font-size: 2em
  }
  .coaeim3 {
    text-align: center
  }
  .cqrhjgt {
    flex-direction: column
  }
  .c1jjm3d {
    padding-top: 15px
  }
  .c332z52 {
    font-size: 0.8em
  }
  .cefn432 {
    width: 10em
  }
  .c1k9d2dn {
    height: 4em
  }
  .cf4etin {
    margin-right: 0px
  }
  .cvvbs3v {
    text-wrap-mode: nowrap
  }
  .cd2ve3n {
    text-decoration-line: none
  }
  .c84sq19 {
    padding-top: 19px
  }
  .c19yvr79 {
    width: 30em
  }
  .ce62w2 {
    border-top-style: none
  }
  .c1o2ljch {
    border-right-style: none
  }
  .c1xhxhp2 {
    border-left-style: none
  }
  .cuwwid3 {
    border-bottom-style: none
  }
  .c1bcpvbw {
    width: 6em
  }
  .cc4uvtg {
    height: 3em
  }
  .cpenikt {
    padding-left: 10px
  }
  .c1uqkwyv {
    padding-right: 10px
  }
  .cfzyolf:hover {
    background-color: rgba(20, 162, 71, 1)
  }
  .ch8e93x:hover {
    color: rgba(255, 255, 255, 1)
  }
  .cz93543:hover {
    font-weight: 700
  }
  .c18ge3nw {
    padding-bottom: 0
  }
  .c1l9ddxb {
    padding-top: 0
  }
  .cl47cg {
    line-height: 3
  }
  .c2a4vn6 {
    font-size: 1.1em
  }
  .c1bycw4e {
    font-size: 0.9em
  }
  .cuvi9wm {
    font-size: 1em
  }
}